/* .table-container {
  max-width: 80rem;
  overflow: auto;
  max-height: 18.08rem;
 
}

table {
  margin: 0rem auto;

  border-collapse: collapse;
  box-shadow: 0 0 0 1px black;
  overflow: scroll;
}

thead {
  font-size: 1rem;
  color: #fff;
}

th {
  border: 8px soild #000;
  border: 1px solid #000;
  min-width: 3rem;
  padding: 0.8rem;

  background-color: #3a6afc;
}

td {
  font-size: 1.2rem;
  border: 1px solid #443c68;
  padding-left: 1rem;
}

td:not(:first-child) {
  border: 2px soild #443c68;
  min-width: 13rem;
  padding: 0.8rem;
  
}

 */
